<ng-container *ngIf="product$ | async as product">
  <ish-product-tile
    *ngIf="isTile"
    [configuration]="configuration"
    [product]="product"
    [quantity]="quantity"
    [category]="category"
    [variationOptions]="productVariationOptions$ | async"
    (productToBasket)="addToBasket($event)"
    (selectVariation)="replaceVariation($event)"
  ></ish-product-tile>

  <ish-product-row
    *ngIf="isRow"
    [configuration]="configuration"
    [product]="product"
    [quantity]="quantity"
    (quantityChange)="quantityChange.emit($event)"
    [category]="category"
    [variationOptions]="productVariationOptions$ | async"
    (selectVariation)="replaceVariation($event)"
  ></ish-product-row>
</ng-container>

<ish-loading *ngIf="loading$ | async"></ish-loading>
