<agm-map [latitude]="mapCenter.lat" [longitude]="mapCenter.lng" [zoom]="6">
  <ng-container *ngFor="let store of stores$ | async">
    <ng-container *ngIf="store.location$ | async as location">
      <agm-marker [latitude]="location.lat()" [longitude]="location.lng()" (markerClick)="clickedMarker(infoWindow)"
        ><agm-info-window #infoWindow>
          <strong>{{ store.name }}</strong
          ><br />
          {{ store.address }} <br />
          {{ store.postalCode }} {{ store.city }} <br />
          {{ store.country }} <br /><br />
          {{ store.email }} <br />
          {{ 'store.telephone.label' | translate }} {{ store.phoneBusiness }} <br />
          {{ 'store.fax.label' | translate }} {{ store.fax }}
        </agm-info-window></agm-marker
      >
    </ng-container>
  </ng-container>
</agm-map>
