<div class="section">
  <h2>Items from your wish list</h2>
  <ng-container *ngIf="preferredWishlist$ | async as wishlist">
    <div class="wishlist-suggestion-container">
      <ngb-carousel
        [activeId]="activeSlide"
        (slide)="setActiveSlide($event.current)"
        [showNavigationArrows]="true"
        [showNavigationIndicators]="false"
        [interval]="false"
      >
        <ng-template ngbSlide *ngFor="let item of wishlist.items">
          <ish-product-item [productSku]="item.sku" [configuration]="{ displayType: 'tile' }"></ish-product-item>
        </ng-template>
      </ngb-carousel>
    </div>
  </ng-container>
</div>
